# ASSIGNMENT 2

#QUESTION 1 : scrape data for data Analyst job position in bangalore location(job_title, job_location, company_name,experience_required)

In [3]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\rishabh singh\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\rishabh singh\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rishabh singh\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\rishabh singh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\rishabh singh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\rishabh singh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\rishabh singh\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rishabh singh\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
#Cunnecting the web Driver
driver = webdriver.Chrome(r'C:\Users\Rishabh Singh\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)  

# Find web element for search bar using class name
job_title = driver.find_element(By.CLASS_NAME,'suggestor-input')

#write on search bar
job_title.send_keys("Data Analyst")

#Finding web element for search location bar using relative Xpath 
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")

#finding web element for job locatin bar
search_loc.send_keys("Bangalore") 

#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")

search_btn.click()

#extract all the web element having job titles
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

#now the job title is inside the web element , we will run a for loop to extract.
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

#extract all the web element having company
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

#now the company name is inside the web element , we will run a for loop to extract.
company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

#extract all the web element having location
loc_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
len(loc_tags)

#now the job location is inside the web element , we will run a for loop to extract.
job_loc = []

for i in loc_tags:
    job_loc.append(i.text)
len(job_loc)

#extract all the web element having experience
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

#now the experience is inside the web element , we will run a for loop to extract.
experience = []

for i in exp_tags:
    experience.append(i.text)
len(experience)

len(job_titles),len(job_loc),len(company_names),len(experience)

jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Job Location']=job_loc
jobs['Experience']=experience
jobs['Company Names']=company_names
jobs.head(10)

Empty DataFrame
Columns: [Job Title, Job Location, Experience, Company Names]
Index: []

In [ ]:
#question 2: scrap data for data scientist position in bangalore location(job_title,job_location,company_name)

In [3]:
#Cunnecting the web Driver
driver=webdriver.Chrome(r'C:\Users\Rishabh Singh\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)  


     

# Find web element for search bar using class name
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job


     

#write on search bar
search_job.send_keys("Data Scientist")


     

#Finding web element for search location bar using relative Xpath 
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
search_loc

#finding web element for job locatin bar
search_loc.send_keys("Bangalore")

#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search_btn

search_btn.click()

In [22]:
#JOB_TITLE
title_tag = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tag)

20

In [23]:
job_title = []
for i in title_tag:
    job_title.append(i.text)
len(job_title)

20

In [26]:
#COMPANY NAME
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

len(company_tags)

company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [38]:
#LOCATION_NAME
loc_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

job_loc = []

for i in loc_tags[0:20]:
    job_loc.append(i.text)
len(job_loc)

20

In [39]:
#EXPERIENCE
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

experience = []

for i in exp_tags[0:20]:
    experience.append(i.text)
len(experience)

20

In [40]:
len(job_title),len(job_loc),len(company_names),len(experience)

(20, 20, 20, 20)

In [41]:
jobs=pd.DataFrame()
jobs['Job Title']=job_title
jobs['Job Location']=job_loc
jobs['Experience']=experience
jobs['Company Names']=company_names
jobs.head(10)

,Job Title,Job Location,Experience,Company Names
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",6-8 Yrs,Accenture
1,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",6-8 Yrs,Tata Nexarc
2,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",4-8 Yrs,Tech Mahindra
3,Data Scientist / AI-ML Engineer,"Bangalore/Bengaluru, Nagpur, Pune",5-8 Yrs,Hitachi Ltd.
4,Manager-Data Science,Bangalore/Bengaluru,3-7 Yrs,AMERICAN EXPRESS
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,3-4 Yrs,Accenture
6,Data Scientist,Bangalore/Bengaluru,2-6 Yrs,Mindtree
7,Data Scientist - II,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",5-10 Yrs,Bizongo
8,Senior Data Scientist,"Bangalore/Bengaluru, India, Mumbai (All Areas)",3-6 Yrs,Baker Hughes
9,Lead Data Scientist,"Bangalore/Bengaluru, Mumbai",6-8 Yrs,Caterpillar Inc

In [42]:
# QUESTION 3 :scrap data for data scientist designation using location and salary filter(1st 10 job result)

In [9]:
#Connecting the web Driver
driver=webdriver.Chrome(r'C:\Users\Rishabh Singh\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)

# Find web element for search bar using class name
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job

#write on search bar
search_job.send_keys("Data Scientist")

#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search_btn.click()

LOCATION_CHECK_FILTER
loc_check = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label")
loc_check.click()


SALARY_CHECK_FILTER
salary_check = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label")
salary_check.click()

In [12]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

14

In [13]:
loc_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)
job_loc = []

for i in loc_tags:
    job_loc.append(i.text)
len(job_loc)

14

In [14]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

14

In [15]:
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)
experience = []

for i in exp_tags:
    experience.append(i.text)
len(experience)

14

In [16]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Job Location']=job_loc
jobs['Experience']=experience
jobs['Company Names']=company_names
jobs.head(10)

,Job Title,Job Location,Experience,Company Names
0,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",1-3 Yrs,Vicara
1,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",7-10 Yrs,Okda Solutions
2,Data Scientist,Temp. WFH - Noida,1-5 Yrs,NGI Ventures
3,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",1-3 Yrs,Primo Hiring
4,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,2-4 Yrs,Tatras Data Services
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",2-7 Yrs,torcai digital media
6,Data Scientist,Gurgaon/Gurugram,3-8 Yrs,Americana Restaurants (india)
7,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,2-5 Yrs,Digilytics
8,Data Scientist,Noida,3-4 Yrs,Alliance Recruitment Agency
9,SE/SSE-Data Scientist,Delhi / NCR,3-8 Yrs,Bold Technology Systems

#Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
Brand
Product Description
Price
Discount
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:

Go to Flipkart webpage by url : https://www.flipkart.com/
Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.

In [11]:
#Cunnecting the web Driver
driver=webdriver.Chrome(r'C:\Users\Rishabh Singh\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.flipkart.com/'
driver.get(url)  


# Find web element for search bar using class name
search_bar = driver.find_element(By.CLASS_NAME,'_3704LK')
search_bar

#write on search bar
search_bar.send_keys("sunglasses")

#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")


#clicking on search botton
search_btn.click()

#page_url=[]

#url=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
#for i in url:
    #page_url.append(i.get_attribute('href'))
#page_url=page_url[0:3]

# creating empty list to scraping data 

#brand=[]
#Description=[]
#Price=[]


#Brand
#for i in page_url:
    #driver.get(i)
    #titles_brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    #for i in titles_brand:
        #brand.append(i.text)
        
#Prduct Discription        
    #titles_Description=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    #for i in titles_Description:
        #Description.append(i.text)

#Price
    #titles_Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    #for i in titles_Price:
        #Price.append(i.text)
        
# creating dataframe for the first 100 sunglasses 

#flipkart=pd.DataFrame({})
#flipkart['Brand']=brand[0:100]
#flipkart['Product Description']=Description[0:100]
#flipkart['Price']=Price[0:100]

#flipkart



start =1
end= 3
brand=[]
product_description=[]
price=[]
for page in range(start,end):
    brand_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_name:
        brand.append(i.text)
    product_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_desc:
        product_description.append(i.text)
    price_tag=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
    for i in price_tag:
        price.append(i.text)
    next_button=driver.find_elements(By.XPATH,'a//[@class="_1LKTO3"]')
    next_button.click()
    
flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=product_description[0:100]
flipkart['Price']=price[0:100]

flipkart

ElementClickInterceptedException: Message: element click intercepted: Element <button class="L0Z3Pu" type="submit">...</button> is not clickable at point (556, 28). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=108.0.5359.99)
Stacktrace:
Backtrace:
	(No symbol) [0x004BF243]
	(No symbol) [0x00447FD1]
	(No symbol) [0x0033D04D]
	(No symbol) [0x003728B9]
	(No symbol) [0x003708CC]
	(No symbol) [0x0036E4CB]
	(No symbol) [0x0036D164]
	(No symbol) [0x003632A6]
	(No symbol) [0x0038858C]
	(No symbol) [0x00362BFF]
	(No symbol) [0x00388804]
	(No symbol) [0x0039C9EB]
	(No symbol) [0x00388386]
	(No symbol) [0x0036163C]
	(No symbol) [0x0036269D]
	GetHandleVerifier [0x00759A22+2655074]
	GetHandleVerifier [0x0074CA24+2601828]
	GetHandleVerifier [0x00568C0A+619850]
	GetHandleVerifier [0x00567830+614768]
	(No symbol) [0x004505FC]
	(No symbol) [0x00455968]
	(No symbol) [0x00455A55]
	(No symbol) [0x0046051B]
	BaseThreadInitThunk [0x753AFEF9+25]
	RtlGetAppContainerNamedObjectPath [0x774F7BBE+286]
	RtlGetAppContainerNamedObjectPath [0x774F7B8E+238]

# question 5 : scrap 100 reviews data from flipkart.com for iphone11 phone

In [14]:
# open the webpage through our web driver
driver=webdriver.Chrome(r"C:\Users\Rishabh Singh\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.flipkart.com/")

search_bar = driver.find_element(By.CLASS_NAME,'_3704LK')
search_bar

#write on search bar
search_bar.send_keys("iphone11")

#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")


#clicking on search botton
search_btn.click()


driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

phone= driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[1]/div[1]/div/a/div/div/div/img")
phone.click()

# creating empty list to scraping data 
rating=[]
review_sum=[]
review_dis=[]

# extracting all the tags
def i_scrap():
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        rating.append(i.text)
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        review_sum.append(i.text)
    rdis=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rdis:
        review_dis.append(i.text)
  #scraping i
next_b=driver.find_elements(By.CLASS_NAME,"ge-49M")
for b in next_b:
    i_scrap()
len(rating)

# creating dataframe for the first 100 reviews data from flipkart.com for iphone11 phone:
iphone_11=pd.DataFrame({'Rating':rating,'Review':review_sum,'Discription':review_dis})
iphone_11

,Rating,Review,Discription
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Highly recommended,It's my first time to use iOS phone and I am l...
96,5,Highly recommended,What a camera .....just awesome ..you can feel...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
99,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...

In [ ]:
#question 6: scrap data for 1st 100 sneakers on flipkart.com(brand, Product DEScription, price)

In [85]:
driver=webdriver.Chrome(r"C:\Users\Rishabh Singh\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.flipkart.com/")

# enter “sneakers” in “search for products, brands and more” field.
search_product = driver.find_element(By.XPATH,"//div[@class='_3OO5Xc']/input")
search_product.send_keys("sneakers")

# click the search button
search_btn = driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn.click()

In [88]:
url ="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off"
driver.get(url)
# iterating first 5 website pages to scrape the data

page_url=[]

url=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:5]

# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]


# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
    titles_Description=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("₹",""))
        
flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price₹']=Price[0:100]

flipkart

        Brand                                Product Description Price₹
0      BRUTON                                   Sneakers For Men    299
1     Numenzo                                   Sneakers For Men    449
2      Labbin                                   Sneakers For Men    399
3      Shozie  PLANCK Smart Grey Lace-Ups Casuals Sneakers Sn...    295
4         SFR  Mesh | Ultralightweight | Comfortable | Breath...    199
..        ...                                                ...    ...
95   RED TAPE                  Stylish & Trendy Sneakers For Men  1,143
96     BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    299
97  ROCKFIELD                           Sneaker Sneakers For Men    664
98       PUMA  Casual Sneakers White Outdoor Shoes For Boys A...  4,139
99   RapidBox  Outdoor Trendy Lightweight Casual,Canvas Styli...    599

[100 rows x 3 columns]

In [89]:
#question 7 : scrap data of laptop using filter "intel core i7" from amazon.com(title, rating, price)

In [96]:
driver=webdriver.Chrome(r"C:\Users\Rishabh Singh\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.amazon.in/")


     

# enter “laptop” in the search field.
search_product = driver.find_element(By.XPATH,"//div[@class='nav-search-field ']/input")
search_product.send_keys("laptop")


     

# click the search button
search_btn = driver.find_element(By.XPATH,"//div[@class='nav-search-submit nav-sprite']")
search_btn.click()

# applying CPU Type filter to “Intel Core i7” filter by checking the respective box
i7_clk=driver.find_elements(By.XPATH,"//span[@class='a-size-base a-color-base']")
for i in i7_clk:
    if i.text == 'Intel Core i7':   
        i.click() # Checking the checkbox to apply filter on the laptop
        break  

Title=[]
Rating=[]
Price=[]

# extracting all the tags

titles=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in titles:
    Title.append(i.text)
    
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.text)
        
titles_Price=driver.find_elements(By.XPATH,"//span[@class='a-price']")
for i in titles_Price:
    Price.append(i.text)

    
amazon =pd.DataFrame({})
amazon['Title']=Title[0:10]
amazon['Rating']=rating[0:10]
amazon['Price']=Price[0:10]

amazon

                                               Title Rating      Price
0  HP Pavilion x360 11th Gen Intel Core i7 14 inc...      5    ₹82,490
1  HP Victus 12th Gen Intel Core i7 15.6 inch(39....      5  ₹1,00,090
2  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...      5    ₹95,546
3  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...      4    ₹24,939
4  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...      5    ₹82,990
5  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...      5    ₹22,999
6  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...      5    ₹61,499
7  HP Victus Gaming Latest 12th Gen Intel Core i7...      5    ₹82,490
8  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...      4    ₹79,990
9  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...      5    ₹79,990

In [97]:
#question 8: scrap top 1000quotes from azquotes.com

In [113]:
driver=webdriver.Chrome(r"C:\Users\Rishabh Singh\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.azquotes.com/")

top_quotes = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()
start =1
end= 10
author_nm=[]
quote=[]
quote_types=[]
for page in range(start,end):
    author_name=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_name:
        author_nm.append(i.text)
    quote_title=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_title:
        quote.append(i.text)
    quote_type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in quote_type:
        quote_types.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()

In [114]:
azquotes =pd.DataFrame({})
azquotes['authors']=author_nm
azquotes['quote']=quote
azquotes['type']=quote_types

azquotes

,authors,quote,type
0,Michael Porter,The essence of strategy is choosing what not t...,"Essence, Deep Thought, Transcendentalism"
1,Golda Meir,One cannot and must not try to erase the past ...,"Inspiration, Past, Trying"
2,Theodore Roosevelt,Patriotism means to stand by the country. It d...,"Country, Peace, War"
3,Nelson Mandela,Death is something inevitable. When a man has ...,"Inspirational, Motivational, Death"
4,Erma Bombeck,You have to love a nation that celebrates its ...,"4th Of July, Food, Patriotic"
...,...,...,...
895,Gilbert K. Chesterton,To love means loving the unlovable. To forgive...,"Love, Inspirational, Success"
896,Jim Rohn,"If you really want to do something, you'll fin...","Inspirational, Motivational, Success"
897,Paulo Coelho,Be brave. Take risks. Nothing can substitute e...,"Encouraging, Courage, Inspiration"
898,Thomas Jefferson,It is neither wealth nor splendor; but tranqui...,"Life, Happiness, Work"
899,Henrik Ibsen,A thousand words will not leave so deep an imp...,"Inspirational, Inspiring, Positivity"

In [115]:
#question 9: list of respected former prime ministers of india

In [15]:
driver=webdriver.Chrome(r"C:\Users\Rishabh Singh\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.jagranjosh.com/")

GK_tag=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
GK_tag.click()

Prime_Ministers_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
Prime_Ministers_tag.click()

name=[]

name_tag=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')

len(name_tag)

for i in name_tag:
    name.append(i.text)

born_dead=[]

born_dead_tag=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
len(born_dead)
for i in born_dead_tag:
    born_dead.append(i.text)
    
term_of_office=[]

term_of_office_tag= driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
len(term_of_office_tag)
for i in term_of_office_tag:
    term_of_office.append(i.text)
    
remark=[]

remark_tag= driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
len(remark_tag)
for i in remark_tag:
    remark.append(i.text)
    
PRIME_MINISTERS =pd.DataFrame({})
PRIME_MINISTERS['NAME']=name
PRIME_MINISTERS['term_of_office']=term_of_office[0:18]
PRIME_MINISTERS['remark']=remark[0:18]
PRIME_MINISTERS['born_dead']=born_dead[0:18]

PRIME_MINISTERS

,NAME,term_of_office,remark,born_dead
0,Jawahar Lal Nehru,15 August 1947 to 27 May 1964,The first prime minister of India and the long...,(1889–1964)
1,Gulzarilal Nanda (Acting),"16 years, 286 days",First acting PM of India,(1898-1998)
2,Lal Bahadur Shastri,"27 May 1964 to 9 June 1964,",He has given the slogan of 'Jai Jawan Jai Kisa...,(1904–1966)
3,Gulzari Lal Nanda (Acting),13 days,-,(1898-1998)
4,Indira Gandhi,9 June 1964 to 11 January 1966,First female Prime Minister of India,(1917–1984)
5,Morarji Desai,"1 year, 216 days",Oldest to become PM (81 years old) and first t...,(1896–1995)
6,Charan Singh,11 January 1966 to 24 January 1966,Only PM who did not face the Parliament,(1902–1987)
7,Indira Gandhi,13 days,The first lady who served as PM for the second...,(1917–1984)
8,Rajiv Gandhi,24 January 1966 to 24 March 1977,Youngest to become PM (40 years old),(1944–1991)
9,V. P. Singh,"11 years, 59 days",First PM to step down after a vote of no confi...,(1931–2008)
10,Chandra Shekhar,24 March 1977 to 28 July 1979,He belongs to Samajwadi Janata Party,(1927–2007)
11,P. V. Narasimha Rao,"2 year, 126 days",First PM from south India,(1921–2004)
12,Atal Bihari Vajpayee,28 July 1979 to 14 January 1980,PM for shortest tenure,(1924- 2018)
13,H. D. Deve Gowda,170 days,He belongs to Janata Dal,(born 1933)
14,Inder Kumar Gujral,14 January 1980 to 31 October 1984,------,(1919–2012)
15,Atal Bihari Vajpayee,"4 years, 291 days",The first non-congress PM who completed a ful...,(1924-2018)
16,Manmohan Singh,31 October 1984 to 2 December 1989,First Sikh PM,(born 1932)
17,Narendra Modi,"5 years, 32 days",4th Prime Minister of India who served two con...,(born 1950)

In [ ]:
# question 10 :list of 50 most expensive cars(car name, description and price)

In [34]:
driver=webdriver.Chrome(r"C:\Users\Rishabh Singh\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.motor1.com/features/")
#dropdown_tag= driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]')
#dropdown_tag.click()

In [35]:
exp_cars_tag=driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div/div[1]/div[1]/div[2]/div/div[1]/h3/a')
exp_cars_tag.click()

car_name=[]
car_price=[]
car_description=[]

car=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car:
    car_name.append(i.text)
car_name

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Most Expensive Cars In The World']

In [42]:
price= driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[5]')
for i in price:
    car_price.append(i.text)
car_price

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.']